/* Crap design but it works */
body {
    background-color: #202124;
    color: #f5f5f5;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2rem;
    margin: 0;
    padding: 1rem;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    border: 2px solid #474a4d;
    border-radius: 10px;
}

form label {
    font-size: 1.2rem;
    margin: 0.5rem;
}

form input[type="text"] {
    font-size: 1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: #2d2e31;
    color: #f5f5f5;
}

form button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: #6e7582;
    color: #f5f5f5;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

form button:hover {
    background-color: #c2c2c2;
    color: #202124;
}

a {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    border: 2px solid #474a4d;
    border-radius: 10px;
}
